.pokeball-color {
    color: #ee1515;
}


.stylish-text {
    font-style: oblique;
}

.card-container:hover {
    box-shadow: 5px 5px;
}

.pokemon-img{
    max-width: 96px;
    max-height: 96px;
    
}
.btn-pokemonprofile{
    color:white;
}

.btn-pokemonprofile:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.overlay{
    position:absolute;
    z-index:5;
    background-color: white;
    width:70% !important;
    height:80% !important;
    border-style: solid;
    left:15%;
}

.modalContainer {
    width:100%;
    max-width: 1000px;
}