.pokeball-color {
    color: #ee1515;
}


.stylish-text {
    font-style: oblique;
}

.card-container:hover {
    box-shadow: 5px 5px;
}

.pokemon-img{
    max-width: 100%;
    max-height: 100%;
    width:auto;
    height:auto;
}
.btn-pokemonprofile{
    color:white;
}

.btn-pokemonprofile:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}